@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService autorizationService

@if ((await autorizationService.AuthorizeAsync(User, "Claim.Dob")).Succeeded)
{
    <h1>Executa lógica especifica</h1>

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
